{{ define "main" }}
    <article class="prose lg:prose-xl">
        <h1>{{ .Title }}</h1>
        <div class="grid sm:grid-cols-2 grid-cols-1">
            <picture>
                <source type="image/avif" srcset="images/0.avif">
                <source type="image/webp" srcset="images/0.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/0.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/1.avif">
                <source type="image/webp" srcset="images/1.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/1.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/2.avif">
                <source type="image/webp" srcset="images/2.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/2.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/3.avif">
                <source type="image/webp" srcset="images/3.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/3.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/4.avif">
                <source type="image/webp" srcset="images/4.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/4.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/5.avif">
                <source type="image/webp" srcset="images/5.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/5.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/6.avif">
                <source type="image/webp" srcset="images/6.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/6.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/7.avif">
                <source type="image/webp" srcset="images/7.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/7.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/8.avif">
                <source type="image/webp" srcset="images/8.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/8.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/9.avif">
                <source type="image/webp" srcset="images/9.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/9.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/10.avif">
                <source type="image/webp" srcset="images/10.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/10.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/11.avif">
                <source type="image/webp" srcset="images/11.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/11.jpg">
            </picture>
            <picture>
                <source type="image/avif" srcset="images/12.avif">
                <source type="image/webp" srcset="images/12.webp">
                <img class="" alt="Tetiana Cherevan profile picture" src="/images/12.jpg">
            </picture>
        </div>
        {{ .Content }}
    </article>
{{ end }}