# Ignore node_modules directory
node_modules/

# Ignore built css
static/css/style.css

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build files
.hugo_build.lock
public/

/cherry-t-art.com/
/content/archive/
/facebook/
/graphics/
_gen
