@tailwind base;
@tailwind components;
@tailwind utilities;

.link-tree-button {
  @apply border border-slate-700 flex space-x-2 justify-center items-center rounded-md py-2 px-8 text-center hover:bg-slate-700 hover:text-white duration-300;
}

article a {
  @apply text-firebrick hover:text-firebrick-100 underline duration-300;
}
/* Menu */

.hamburger-menu {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position:absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

article > h1 {
  @apply text-tiger-300;
}

.filterButton {
  @apply pr-3 py-0 bg-tan-800 hover:shadow-2xl min-h-[48px] flex justify-items-start items-stretch space-x-2 transition-all duration-500;
}

select.filterButton {
  @apply border-0 pl-3 appearance-none focus:outline-none focus:ring-2 focus:ring-tan-800 bg-[url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E')] bg-[length:0.7em] bg-[right_0.5em_center] bg-no-repeat items-center flex py-2;
}

select.filterButton option {
  @apply py-1;
}
.filterButton.enabled {
  @apply bg-beaver-400 text-white
}
.filterButton .indicator {
  @apply w-2 bg-transparent
}
.filterButton .surface {
  @apply flex items-center space-x-2
}
.filterButton.enabled .indicator {
  @apply bg-green-600 transition-all duration-1000
}

.text-between-sm-md {
  font-size: 1rem; /* 14px */
}