@tailwind base;
@tailwind components;
@tailwind utilities;

.link-tree-button {
  @apply border border-slate-700 flex space-x-2 justify-center items-center rounded-md py-2 px-8 text-center hover:bg-slate-700 hover:text-white duration-300;
}

article a {
  @apply text-firebrick hover:text-firebrick-100 underline duration-300;
}
/* Menu */

.hamburger-menu {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position:absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

article > h1 {
  @apply text-tiger-300;
}

  .filterButton {
    @apply pr-3 py-0 bg-tan-800 hover:shadow-2xl min-h-[48px] flex justify-items-start items-stretch space-x-2 border-2 border-tan-800 transition-all duration-500;
  }
  .filterButton.enabled {
    @apply bg-beaver-400 text-white
  }
  .filterButton .indicator {
    @apply w-2 bg-transparent
  }
  .filterButton .surface {
    @apply flex items-center space-x-2
  }
  .filterButton.enabled .indicator {
    @apply bg-green-600 transition-all duration-1000
  }