{{ define "main" }}

<article class="prose lg:prose-xl">
    {{ $image := .Resources.GetMatch .Params.afishaDesktop }}
    <picture class="hidden sm:block w-full" style="aspect-ratio: {{$image.Width}}/{{$image.Height}};">
        <source type="image/avif" srcset="{{ .Params.afishaDesktop | replaceRE "(?i)(jpg|jpeg|png|gif|bmp|tiff)" "avif" }}">
        <source type="image/webp" srcset="{{ .Params.afishaDesktop | replaceRE "(?i)(jpg|jpeg|png|gif|bmp|tiff)" "webp" }}">
        <img class="float-left pr-5 pb-5" alt="Tetiana Cherevan profile picture" src="{{.Params.afishaDesktop}}">
    </picture>
    {{ $image := .Resources.GetMatch .Params.afishaMobile }}
    <picture class="sm:hidden w-full" style="aspect-ratio: {{$image.Width}}/{{$image.Height}};">
        <source type="image/avif" srcset="{{ .Params.afishaMobile | replaceRE "(?i)(jpg|jpeg|png|gif|bmp|tiff)" "avif" }}">
        <source type="image/webp" srcset="{{ .Params.afishaMobile | replaceRE "(?i)(jpg|jpeg|png|gif|bmp|tiff)" "webp" }}">
        <img class="float-left pr-5 pb-5" alt="Tetiana Cherevan profile picture" src="{{.Params.afishaMobile}}">
    </picture>
    <h1 class="not-prose text-xl sm:text-3xl font-bold pb-3">{{ .Title }}</h1>
    <section class="not-prose grid grid-cols-2 grid-rows-2 pb-5">
        {{ range .Params.hilights }}
        <div class="flex flex-col items-center justify-center">
            <span class="text-2xl font-bold text-firebrick-500">{{ index . 0 }}</span>
            <span class="text-center capitalize font-bold">{{ index . 1 }}</span>
        </div>
        {{ end }}
    </section>
    <section class="not-prose">
        {{ .Params.shortDescription }}
    </section>
    <section>
        <h2>Here’s the Lowdown:</h2>
        <ul>
            <li>📆 <span class="font-bold">Date:</span> {{ .Params.eventDate }}</li>
            <li>🕖 <span class="font-bold">Time:</span> {{ .Params.eventTime }}</li>
            <li>📍 <span class="font-bold">Where:</span> {{ .Params.location }}</li>
        </ul>
    </section>
    {{.Content}}
</article>
{{ end }}