<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <script>
        function getCookieValue(cookieName) {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(cookieName + '=')) {
                    return cookie.substring(cookieName.length + 1);
                }
            }
            return null;
        }
    </script>
    <!-- Google tag (gtag.js) -->
    {{ partial "gtag.html" (dict "gTag" .Site.Params.GoogleContainerID) }}
    {{/* MailChimp */}}
    {{ partial "mailChimp.html" }}
    <meta charset="UTF-8">
    <title>Tetiana Cherevan | Ukrainian painter</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad-2.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/touch-icon-iphone-retina-2.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/touch-icon-ipad-retina-2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.cherevan.art/{{ strings.TrimPrefix "/" (strings.TrimPrefix .Site.BaseURL .Permalink) }}">
    <meta property="og:url" content="https://www.cherevan.art/{{ strings.TrimPrefix "/" (strings.TrimPrefix .Site.BaseURL .Permalink) }}" />
    <meta name="author" content="Tetiana Cherevan">
    <meta name="copyright" content="Tetiana Cherevan">

    {{ block "meta" . }}
        <meta name="title" content="Tetiana Cherevan">
        <meta name="description" content="Explore the captivating world of Tetiana Cherevan, a visionary painter hailing from Ukraine. Immerse yourself in her evocative artistry, where vivid colors and profound emotions converge on canvas. Discover the essence of Ukrainian culture and personal expression through Tetiana's unique perspective. Uncover the beauty that unfolds in each brushstroke, as this talented artist invites you to experience the soulful depths of her creations.
">
        <meta name="og:image" content="{{ $.Site.BaseURL }}/images/profile-picture.jpg">
        <meta name="og:image:width" content="150">
        <meta name="og:image:height" content="150">
        <meta name="og:image:type" content="image/jpg">
        <meta name="og:image:alt" content="Tetiana Cherevan profile picture">
    {{ end }}
    <link rel="stylesheet" href="/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet"
            type="text/css" />
    </noscript>
    <!-- Google Fonts -->
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/js/independent-columns.js" defer></script>
</head>

<body class="bg-slate-50">
    <div class="flex flex-col max-w-5xl px-3 sm:px-10 mx-auto min-h-screen bg-white shadow-lg">
        {{ $t := "Jan 02, 2006 3:04 PM Z07:00" }}

        {{ partial "privacy-notice.html" }}


        <header class="py-4 pt-5 px-2">
            <nav class="flex justify-between">
                <a href="/" class="flex items-center justify-center">
                    <!-- <img src="favicon.ico" alt="icon"> -->
                    <div class="text-md uppercase text-firebrick-400">cherevan.art</div>
                </a>
                {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
            </nav>
        </header>

        <main class="mb-auto">
            {{ block "main" . }}{{ end }}
        </main>

        <footer class="py-4 text-xs flex flex-col lg:flex-row lg:justify-between">
            <a href="/link-tree" class="mt-3 lg:mt-0 order-last lg:order-none hover:underline flex items-center justify-center">
                Copyright © 1995 - {{ now.Year }} Tetiana Cherevan | All Rights Reserved
            </a>
            <div class="flex flex-row justify-center lg:justify-start items-center space-x-2">
                <p class="text-[1rem]">Social Networks:</p>
                <a href="https://www.instagram.com/tetianacherevan/" target="_blank" title="Live Instagram account">
                    <img src="/images/instagram-svgrepo-com.png" alt="Live Instagram account">
                </a>
                <a href="https://www.instagram.com/shibari.artkingdom/" target="_blank" title="Shibari Instagram">
                    <img src="/images/instagram-svgrepo-com.png" alt="Shibari Instagram">
                </a>
                <a href="https://www.facebook.com/tetiana.cherevan" target="_blank" title="Facebook">
                    <img src="/images/facebook-svgrepo-com.png" alt="Facebook">
                </a>
                <p class="pl-6 text-[1rem]">Shops: </p>
                <a href="https://www.etsy.com/shop/CherevanArtGallery" target="_blank" title="Etsy">
                    <img src="/images/etsy-svgrepo-com.png" alt="Etsy">
                </a>
                <a href="https://www.artfinder.com/artist/tetiana-cherevan/" target="_blank" title="Art Finder">
                    <img src="/images/art-finder.png" alt="Art Finder">
                </a>
                <a href="https://www.artsy.net/artist/tetiana-cherevan" target="_blank" title="Artsy.net">
                    <img src="/images/artsy.png" alt="Artsy">
                </a>
            </div>
        </footer>
    </div>
</body>
<script src="https://sdks.shopifycdn.com/js-buy-sdk/v2/latest/index.umd.min.js"></script>
<script>
    window.shopifyConfig = {
        shopifyDomain: '{{ .Site.Params.shopifyDomain }}',
        storefrontAccessToken: '{{ .Site.Params.storefrontAccessToken }}',
    };
</script>
{{ block "scripts" . }}{{ end }}

</html>