<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-21CQLLSNPS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-21CQLLSNPS');
    </script>
    <meta charset="UTF-8">
    <title>Tetiana Cherevan | Ukrainian painter</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/touch-icon-ipad-retina.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="https://www.cherevan.art/{{ strings.TrimPrefix "/" (strings.TrimPrefix .Site.BaseURL .Permalink) }}">
    <meta property="og:url" content="https://www.cherevan.art/{{ strings.TrimPrefix "/" (strings.TrimPrefix .Site.BaseURL .Permalink) }}" />
    <meta name="author" content="Tetiana Cherevan">
    <meta name="copyright" content="Tetiana Cherevan">

    {{ block "meta" . }}
        <meta name="title" content="Tetiana Cherevan">
        <meta name="description" content="Explore the captivating world of Tetiana Cherevan, a visionary painter hailing from Ukraine. Immerse yourself in her evocative artistry, where vivid colors and profound emotions converge on canvas. Discover the essence of Ukrainian culture and personal expression through Tetiana's unique perspective. Uncover the beauty that unfolds in each brushstroke, as this talented artist invites you to experience the soulful depths of her creations.
">
        <meta name="og:image" content="/images/profile-picture.jpg">
        <meta name="og:image:width" content="150">
        <meta name="og:image:height" content="150">
        <meta name="og:image:type" content="image/jpg">
        <meta name="og:image:alt" content="Tetiana Cherevan profile picture">
    {{ end }}
    <link rel="stylesheet" href="/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet"
            type="text/css" />
    </noscript>
    <!-- Google Fonts -->
    <script src="/js/script.js" defer></script>
</head>
<body class="bg-slate-50">
    <div class="flex flex-col max-w-5xl px-3 sm:px-10 mx-auto min-h-screen bg-white shadow-lg">
        {{ $t := "Jan 02, 2006 3:04 PM Z07:00" }}

        <header class="py-4 pt-5 px-2">
            <nav class="flex justify-between">
                <a href="/" class="flex items-center justify-center">
                    <!-- <img src="favicon.ico" alt="icon"> -->
                    <div class="text-md uppercase text-firebrick-400">cherevan.art</div>
                </a>
                {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
            </nav>
        </header>

        <main class="mb-auto">
            {{ block "main" . }}{{ end }}
        </main>

        <footer class="py-4 text-xs">
            <a href="/link-tree" class="hover:underline">
                Copyright © 1995 - {{ now.Year }}Tetiana Cherevan
            </a>
        </footer>
    </div>
</body>
<script src="https://sdks.shopifycdn.com/js-buy-sdk/v2/latest/index.umd.min.js"></script>
<script>
    window.shopifyConfig = {
        shopifyDomain: '{{ .Site.Params.shopifyDomain }}',
        storefrontAccessToken: '{{ .Site.Params.storefrontAccessToken }}',
    };
</script>
{{ block "scripts" . }}{{ end }}
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/610ab21a2b0c081249a0eb8ae/0983c1f02ae2be0d24e608ab7.js");</script>
</html>
