{{ $lowQualityImage := .image.Resize "50x" }}
{{ $lowQualityImageBase64 := $lowQualityImage.Content | base64Encode }}
{{ $imageWidth := .image.Width }}
{{ $imageHeight := .image.Height }}

<div class="relative"
     style="
     {{ if le .index 5 }}

         background-image: url('data:image/png;base64,{{ $lowQualityImageBase64 }}');
                 background-size: cover;
                 background-position: center;
     {{ end }}
             aspect-ratio: {{ $imageWidth }} / {{ $imageHeight }};
             "
>
    <picture class="">
        <source type="image/avif"
                srcset="{{ .image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_360.avif" }} 360w,
                    {{ .image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_375.avif" }} 375w,
                    {{ .image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_750.avif" }} 750w,
                    {{ .image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_768.avif" }} 768w">
        <source type="image/webp"
                srcset="{{ .image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_360.webp" }} 360w,
                    {{ .image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_375.webp" }} 375w,
                    {{ .image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_750.webp" }} 750w,
                    {{ .image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_768.webp" }} 768w">

        <img class="object-cover w-full h-full"
             style="aspect-ratio: {{.image.Width}}/{{.image.Height}}"
             alt="{{ .title }}"
                {{ if ge .index 5 }}
                    src="{{.image.RelPermalink}}"
                {{else}}
                    src="data:image/jpeg;base64,{{ $lowQualityImageBase64 }}"
{{/*                    onload="this.onload=null; this.src='{{.image.RelPermalink}}'"*/}}
                {{end}}
             srcset="{{.image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_360.avif"}} 360w,
                    {{.image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_375.avif"}} 375w,
                    {{.image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_750.avif"}} 750w,
                    {{.image.RelPermalink | replaceRE "(?i)\\.(jpg|jpeg|png|gif|bmp|tiff)" "_768.avif"}} 768w"

             sizes="(max-width: 361px) 360w, (max-width: 376px) 375w, (max-width: 750px) 750w, 768w" loading="lazy">
    </picture>
    {{ if not .inStock }}
        <div class="absolute w-8 h-8 bg-red-500 bottom-5 right-5 rounded-full shadow-xl" title="out of stock"></div>
    {{ end }}
</div>

