{{ define "main" }}
    <section id="secondary-menu" class="flex justify-end">
        <a class="px-3 py-2" href="?grid">Grid</a>
        <a class="px-3 py-2" href="?filter=year">By Year</a>
        <a class="px-3 py-2" href="?filter=collection">By Collection</a>
    </section>

    <section class="">

        {{ $years := slice }}
        {{ range $index, $page := where (where .Site.Pages "Type" "art-works") ".IsSection" false }}
            {{ $year := dateFormat "2006" $page.Params.date }}
            {{ if not (in $years $year) }}
                {{ $years = $years | append $year }}
            {{ end }}
        {{ end }}

        {{ $site := .Site }}
        {{ range $year := $years }}
            {{ $startOfYear := time (print $year "-01-01") }}
            {{ $pages := where (where $site.Pages "Type" "art-works") ".IsSection" false }}
            {{ $pages = where $pages "Params.date" "ge" ($startOfYear) }}
            {{ $pages = where $pages "Params.date" "lt" ($startOfYear.AddDate 1 0 0) }}

            {{ $col1 := slice  }}
            {{ $col2 := slice  }}
            {{ $col1Len := 0  }}
            {{ $col2Len := 0  }}
            {{ range $index, $page := $pages }}
                {{ if $page.Params.mainImage }}
                    {{ $mainImage := .Params.mainImage }}
                    {{ with .Resources.GetMatch $mainImage }}
                        {{ if lt $col1Len $col2Len }}
                            {{ $col1Len = add $col1Len (div .Height (div .Width 10)) }}
                            {{ $col1 = append $page $col1 }}
                        {{ else }}
                            {{ $col2Len = add $col2Len (div .Height (div .Width 10)) }}
                            {{ $col2 = append $page $col2 }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
            <div class="text-4xl font-bold bg-blue-100 p-3">Year: {{ $year }}</div>
            <div>ColLen1: {{$col1Len}} ColLen1: {{$col2Len}} Len1: {{ len $col1 }} Len2: {{ len $col2 }}</div>

            <div class="flex flex-row space-x-2">
                {{ $columns := slice $col1 $col2 }}

                {{ range $index, $col := $columns }}
                    {{ if gt (len $col) 0 }}
                        <div class="flex flex-col w-1/2">
                            {{ range $index, $page := $col }}
                                {{ $mainImage := .Params.mainImage }}
                                {{ with .Resources.GetMatch $mainImage }}
                                    <picture class="relative">
                                        <source type="image/avif" srcset="{{ .RelPermalink | replaceRE "(?i)(jpg|jpeg|png|gif|bmp|tiff)" "avif" }}">
                                        <source type="image/webp" srcset="{{ .RelPermalink | replaceRE "(?i)(jpg|jpeg|png|gif|bmp|tiff)" "webp" }}">
                                        <img class="object-cover w-full h-full" alt="{{ $page.Title }}" src="{{.RelPermalink}}" {{ if ge $index 3 }}loading="lazy"{{ end }}>
                                        {{ if not $page.Params.inStock }}
                                            <div class="absolute w-8 h-8 bg-red-500 bottom-5 right-5 rounded-full shadow-xl" title="out of stock"></div>
                                        {{ end }}
                                    </picture>

                                    <h3 class="text-sm flex space-x-2 mt-1">
                                        {{ $page.Title }}
                                    </h3>
                                    <h4>Size: {{.Width}} X {{.Height}}</h4>
                                {{ else }}
                                    404 - {{ $page.Title }} Not found
                                {{ end }}
                            {{ end }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>

{{/*            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">*/}}
{{/*                {{ range $index, $page := $pages }}*/}}
{{/*                    {{ if $page.Params.mainImage }}*/}}
{{/*                        <div class="flex flex-col">*/}}
{{/*                            {{ $mainImage := .Params.mainImage }}*/}}
{{/*                            {{ with .Resources.GetMatch $mainImage }}*/}}
{{/*                                <picture class="relative">*/}}
{{/*                                    <source type="image/avif" srcset="{{ .RelPermalink | replaceRE "(?i)(jpg|jpeg|png|gif|bmp|tiff)" "avif" }}">*/}}
{{/*                                    <source type="image/webp" srcset="{{ .RelPermalink | replaceRE "(?i)(jpg|jpeg|png|gif|bmp|tiff)" "webp" }}">*/}}
{{/*                                    <img class="object-cover w-full h-full" alt="{{ $page.Title }}" src="{{.RelPermalink}}" {{ if ge $index 3 }}loading="lazy"{{ end }}>*/}}
{{/*                                    {{ if not $page.Params.inStock }}*/}}
{{/*                                    <div class="absolute w-8 h-8 bg-red-500 bottom-5 right-5 rounded-full shadow-xl" title="out of stock"></div>*/}}
{{/*                                    {{ end }}*/}}
{{/*                                </picture>*/}}

{{/*                                <h3 class="text-sm flex space-x-2 mt-1">*/}}
{{/*                                    {{ $page.Title }}*/}}
{{/*                                </h3>*/}}
{{/*                                    <h4>Size: {{.Width}} X {{.Height}}</h4>*/}}
{{/*                            {{ else }}*/}}
{{/*                                404 - {{ $page.Title }} Not found*/}}
{{/*                            {{ end }}*/}}
{{/*                        </div>*/}}
{{/*                    {{ end }}*/}}
{{/*                {{ end }}*/}}
{{/*            </div>*/}}
        {{ end }}
    </section>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/raised-angel/rised_angel.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/sex-without-love/sex_without_love.jpeg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/siesta/Siesta.JPG" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/taming-the-dragon/taming_the_dragon.JPG" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/tenderness/tenderness.avif" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/there-stars-meet-the-sky/there_stars_meet_the_sky.jpg" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/all-you-need-is-love/all_yoou_need_is_love.avif" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/sacred-strawberry/sacred_strawberry.avif" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/cooling-in-her-shadow/cooling_in_her_shadow.avif" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/dragon-birth/dragon_birth.avif" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/endangered-species/endangered_species.avif" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="http://localhost:43487/art-works/hand-dance/hand_dance.avif" alt="">
            </div>
        </div>
    </div>
{{ end }}
