{{ define "meta" }}
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{.Params.metaTitle}}" />
    <meta property="og:description"        content="{{.Description}}" />
    <meta property="og:image"              content="{{.Params.Image}}" />
    <meta name="description" content="{{.Description}}">
{{ end }}

{{ define "main" }}

    {{ $pages := slice }}

    {{ range $index, $page := sort (where (where .Site.Pages "Type" "art-works") ".IsSection" false) "Params.order" "asc" }}
        {{ $pages = $pages | append $page }}
    {{ end }}

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <div id="filterButtons" class="flex space-x-0 mb-2 lg:flex-row flex-col lg:space-x-2">
        <button class="filterButton enabled" aria-label="all art works" data-filter="all">
            <span class="indicator"></span>
            <span class="surface" aria-label="solo exhibitions">
                Artworks
            </span>
        </button>
        <button class="filterButton" aria-label="paper art works" data-filter="graphics">
            <span class="indicator"></span>
            <span class="surface">
                Graphics
            </span>
        </button>
        <button class="filterButton" aria-label="paintings, canvases" data-filter="paintings">
            <span class="indicator"></span>
            <span class="surface">
                Paintings
            </span>
        </button>
        <div class="border-l-1 border-w-1 border border-slate-300 hidden sm:block"></div>
        <div class="border-l-1 border-w-1 border border-slate-300 hidden sm:block"></div>
        <button class="filterButton" aria-label="shibari art works" data-filter="shibari">
            <span class="indicator"></span>
            <span class="surface">
                Shibari
            </span>
        </button>
<!--        <button class="filterButton enabled" aria-label="essential" data-filter="essential">Essential</button>-->
        <div class="flex space-x-0 min-w-40">
            <button class="filterButton lg:w-3/5 w-1/2 enabled" aria-label="in_stock" data-filter="in_stock">
                <span class="indicator w-2"></span>
                <span class="surface">
                    Available
                </span>
            </button>
            <button class="filterButton lg:w-2/5 w-1/2" aria-label="sold" data-filter="sold">
                <span class="indicator"></span>
                <span class="surface flex-grow items-center text-center">
                    Sold
                </span>
            </button>
        </div>
        <label for="location" class="sr-only">Location</label>
        <select id="location" name="location" class="filterButton" data-filter="location">
            <option value="">Locations</option>
            <option value="Ukraine">Ukraine</option>
            <option value="Spain">Spain</option>
            <option value="Palma de Mallorca">Palma de Mallorca&nbsp&nbsp&nbsp&nbsp&nbsp</option>
            <!-- Add options dynamically here -->
        </select>

        <!-- Add more buttons as needed -->
    </div>
    <div class="grid">
        <!-- width of .grid-sizer used for columnWidth -->
        <div class="grid-sizer"></div>
        {{ range $index, $page := $pages }}
            {{ $mainImage := .Params.mainImage }}
            {{ with .Resources.GetMatch $mainImage }}
                <div class="grid-item
                    {{if or (ne $page.Params.IsVisible true) (ne $page.Params.InStock true) }}hidden{{end}}
                    {{if ge $page.Params.Width 140 }}grid-item--width3
                        {{else if or (ge $page.Params.Width 59) (ge $page.Params.Height 59) }}grid-item--width2
                    {{end}}"
                     data-params="{{jsonify $page.Params}}">
                    {{ partial "art-works/picture.html" (dict "image" . "title" $page.Title "inStock" $page.Params.inStock "index" $index) }}

                    <a class="font-bold" href="{{$page.Permalink}}">
                        {{ $page.Title }} <span class="text-xs text-gray-500">{{$page.Params.Height}}X{{$page.Params.Width}}cm&nbsp{{dateFormat "2006" $page.Params.date}}</span>
                    </a>
                    <div class="mt-1 border-b mb-3 mr-8"></div>

                </div>
            {{ end }}
        {{ end }}
    </div>
    <style>
        .grid-sizer,
        .grid-item { width: 24%; }
        /* 2 columns */
        .grid-item--width2 { width: 49%; }
        .grid-item--width3 { width: 99%; }

        @media screen and (max-width: 768px) {
            .grid-sizer,
            .grid-item,
            .grid-item--width2,
            .grid-item--width3 {
                width: 100%;
            }
        }
    </style>
    <script>
        var grid = document.querySelector('.grid');
        var msnry = new Masonry( grid, {
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            gutter: 10,
        });
        class Filter {
            constructor(element, filterFn) {
                this.element = element;
                this.counter = this.element.querySelector('.surface span');
                this.filterFn = filterFn;
            }
            isActive() {
                return this.element.classList.contains('enabled');
            }
            toggle() {
                this.element.classList.toggle('enabled');
                this.fireFilterToggled();
            }
            fireFilterToggled() {
                const event = new CustomEvent('filterToggled', { detail: this });
                this.element.dispatchEvent(event);
            }
            name() {
                return this.element.dataset.filter;
            }
            deactivate() {
                this.element.classList.remove('enabled');
            }
            activate() {
                this.element.classList.add('enabled');
            }
            setCounterFromItems(items) {
                if (!this.counter) { return; }
                this.counter.innerText = items.filter(this.filterFn).length;
            }
            setCounter(value) {
                if (!this.counter) { return; }
                this.counter.innerText = value;
            }
            incrementCounter() {
                if (!this.counter) { return; }
                this.counter.innerText = parseInt(this.counter.innerText) + 1;
            }
        }
        class Item {
            constructor(el) {
                this.el = el;
                this.params = JSON.parse(el.dataset.params);
            }
        }
        class Filters {
            constructor(filters) {
                this.mutuallyExclusiveFilters = ['all', 'paintings', 'graphics'];
                this.filters = filters;
                this.filters.forEach(filter => {
                    if (filter.element.tagName === 'SELECT') {
                        filter.element.addEventListener('change', () => {
                            if (filter.element.value === '') {
                                filter.deactivate();
                            } else {
                                filter.activate();
                            }
                            filter.fireFilterToggled();
                        });
                    } else {
                        filter.element.addEventListener('click', () => {
                            filter.toggle();
                        });
                    }
                    filter.element.addEventListener('filterToggled', (event) => {
                        this.filterItems(event.detail, items);
                        this.updateURLParameters();
                    });
                });
                this.setInitialFiltersFromURL();
            }
            getActiveFilters() {
                return this.filters.filter(filter => filter.isActive());
            }
            filterItems(filter, items) {
                console.log(filter.name())
                if (this.mutuallyExclusiveFilters.includes(filter.name())) {
                    this.filters.forEach(filter => {
                        if (this.mutuallyExclusiveFilters.includes(filter.name())) {
                            filter.deactivate();
                        }
                    });
                    filter.activate();
                }
                if (['sold', 'in_stock'].includes(filter.name())) {
                    this.filters.forEach(filter => {
                        if (['sold', 'in_stock'].includes(filter.name())) {
                            filter.deactivate();
                        }
                    });
                    filter.activate();
                }
                const activeFilters = this.getActiveFilters();
                if (activeFilters.length === 0) {
                    items.forEach(item => item.el.classList.remove('hidden'));
                    msnry.layout();
                    return;
                }
                items.forEach(item => {
                    const shouldBeHidden = activeFilters.some(filter => !filter.filterFn(item));
                    if (shouldBeHidden) {
                        item.el.classList.add('hidden');
                    } else {
                        item.el.classList.remove('hidden');
                    }
                });
                msnry.layout();
            }

            updateURLParameters() {
                const activeFilters = this.getActiveFilters();
                const params = new URLSearchParams();
                activeFilters.forEach(filter => {
                    if (filter.element.tagName === 'SELECT') {
                        params.set(filter.name(), filter.element.value);
                    } else {
                        params.set(filter.name(), 'true');
                    }
                });
                params.set('tag', 'essential'); // hack for Tiana, as she wants to see only essential items
                history.replaceState(null, '', '?' + params.toString());
            }

            setInitialFiltersFromURL() {
                const params = new URLSearchParams(window.location.search);
                this.filters.forEach(filter => {
                    if (params.has(filter.name())) {
                        if (filter.element.tagName === 'SELECT') {
                            filter.element.value = params.get(filter.name());
                            filter.activate();
                        } else {
                            filter.activate();
                        }
                        filter.fireFilterToggled();
                    }
                });
            }
        }

        const elements = document.querySelectorAll('.grid-item');
        const items = Array.from(elements).map(el => new Item(el));

        const allFilter = new Filter(
            document.querySelector('.filterButton[data-filter="all"]'),
            item => true
        );
        const shibariFilter = new Filter(
            document.querySelector('.filterButton[data-filter="shibari"]'),
            item => item.params.categories.includes('shibari')
        );
        const paintingsFilter = new Filter(
            document.querySelector('.filterButton[data-filter="paintings"]'),
            item => item.params.categories.includes('painting')
        );
        const graphicsFilter = new Filter(
            document.querySelector('.filterButton[data-filter="graphics"]'),
            item => item.params.categories.includes('graphics')
        );
        // const essentialFilter = new Filter(
        //     document.querySelector('.filterButton[data-filter="essential"]'),
        //     item => item.params.isvisible
        // );
        const inStockFilter = new Filter(
            document.querySelector('.filterButton[data-filter="in_stock"]'),
            item => item.params.instock
        );
        const soldFilter = new Filter(
            document.querySelector('.filterButton[data-filter="sold"]'),
            item => !item.params.instock
        );
        const locationFilter = new Filter(
            document.querySelector('#location'),
            item => {
                const selectedLocation = document.querySelector('#location').value;
                return item.params.location && item.params.location.includes(selectedLocation);
            }
        );

        allFilter.setCounterFromItems(items);
        shibariFilter.setCounterFromItems(items);
        paintingsFilter.setCounterFromItems(items);
        graphicsFilter.setCounterFromItems(items);
        // essentialFilter.setCounterFromItems(items);
        inStockFilter.setCounterFromItems(items);
        soldFilter.setCounterFromItems(items);

        const filters = new Filters([
            allFilter,
            shibariFilter,
            paintingsFilter,
            graphicsFilter,
            // essentialFilter,
            inStockFilter,
            soldFilter,
            locationFilter,
        ]);

        var url = new URL(window.location);
        var tag = url.searchParams.get('tag');
    </script>
{{ end }}
